.port-table {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.port-table h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin: 0px 0px 26px 0px;
    font-weight: bold;
    color: #525252;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    text-align: center;
    color: #3e3e3e;
    text-align: center;
    font-weight: bold;
}

.table td {
    padding: 10px;
    border: 1px solid #ddd;
    color: #7e7e7e;
    text-align: center;
}