.table-container {
    margin-left: 50px;
    /* Khoảng cách bên trái (tuỳ chọn) */

    /* Giới hạn chiều rộng container */
    width: 75%;
    /* max-width: 1200px; */
    /* Giới hạn chiều rộng tối đa */
    margin: 0 auto;
    /* Canh giữa bảng */

    left: 50%;
    /* Đặt vị trí bên trái ở giữa màn hình */
    transform: translateX(-50%);
    /* Dịch chuyển bảng về giữa */

    /* Định vị bảng cố định dưới đáy trang */
    position: fixed;
    bottom: 0;

    /* Tùy chỉnh giao diện */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    z-index: 1000;
    /* Đảm bảo bảng nằm trên các thành phần khác */
}


table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f1f1f1;
    font-size: 24px;
    text-align: center;

}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
    /* Căn các phần tử lên trên cùng */
}

th {
    background-color: #89cff0;
    color: #000000;
}

td {
    background-color: #fff;
}

td a {
    display: block;
    padding: 5px 0;
    color: #007BFF;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}


.send-container {
    display: flex;
    margin-left: 25px;
    border-radius: 10px;
    border: 2px solid #89cff0;
    /* Thêm border */
    width: 500px;
    /* Điều chỉnh chiều dài */
}


.send-icon {
    width: 40px;
    /* Điều chỉnh kích thước theo ý muốn */
    height: 38px;
    top: 0;
    /* Điều chỉnh kích thước theo ý muốn */
    background: none;
    /* Xóa nền của ảnh */
    margin-left: 5px;
}

.input-text {
    margin-left: 3px;
    margin-top: 8px;
    /* Khoảng cách giữa ảnh và thanh tìm kiếm */
    padding: 5px;
    height: 20px;
    width: 500px;
    /* Thiết lập chiều cao của ô tìm kiếm */
    border: none;
    /* Ẩn viền của ô tìm kiếm */
    outline: none;
    /* Ẩn viền khi ô tìm kiếm được chọn */
    font-size: 24px;
}

about-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Khoảng cách giữa các phần tử */
    padding: 20px;
    /* Khoảng cách bên trong container */
}

.about-container p {
    /* Các thuộc tính CSS bạn muốn áp dụng */
    color: #333;
    margin-left: 25px;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 1px;
}


.icon-container {
    display: flex;
    justify-content: flex-start;
    /* Hoặc sử dụng space-between, center, etc. */
    /* Căn giữa các phần tử theo chiều dọc */
    gap: 6px;
    /* Khoảng cách giữa các phần tử */
    padding: 20px;
    /* Khoảng cách bên trong container */
    background-color: #f9f9f9;
    /* Màu nền tùy chọn */
}