.nav {
    left: 10px;
    background-color: #89cff0;
    /* Màu nền cho menu */
    padding: 25px;
    text-align: center;
    /* Canh giữa các liên kết */
    border-bottom: 4px solid #7294a9;
    /* Đường viền bên dưới menu */
    border-radius: 15px;
    /* Làm cong các góc của khung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Tạo hiệu ứng đổ bóng */

}

.nav a {

    font-weight: bold;
    display: inline-block;
    padding: 12px 20px;
    /* Điều chỉnh khoảng cách cho các liên kết */
    margin: 0 10px;
    /* Khoảng cách giữa các liên kết */
    border-radius: 10px;
    /* Bo góc nhẹ cho liên kết */
    border: 3px solid transparent;
    /* Ẩn viền mặc định, chỉ hiện khi hover */

    color: #89cff0;
    /* Màu chữ */
    font-size: 24px;
    text-decoration: none;
    /* Không gạch chân */
    background-color: #fff;


    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.nav a:hover {
    background-color: #89cff0;
    /* Màu nền khi hover */
    color: #fff;
    /* Màu chữ khi hover */
    border: 1px solid #007bff;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    /* Hiện viền xanh khi hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Hiệu ứng đổ bóng nhẹ khi hover */

}


.logo {
    width: 150px;
    /* Điều chỉnh kích thước theo ý muốn */
    height: 150px;
    /* Điều chỉnh kích thước theo ý muốn */
    background: none;
    /* Xóa nền của ảnh */
    margin-left: 25px;
}


.search-container {
    display: flex;
    margin-left: 25px;
    border-radius: 10px;
    border: 2px solid #89cff0;
    /* Thêm border */
    width: 500px;
    /* Điều chỉnh chiều dài */
}


.search-icon {
    width: 40px;
    /* Điều chỉnh kích thước theo ý muốn */
    height: 38px;
    top: 0;
    /* Điều chỉnh kích thước theo ý muốn */
    background: none;
    /* Xóa nền của ảnh */
    margin-left: 5px;
}

.search-bar {
    margin-left: 3px;
    /* Khoảng cách giữa ảnh và thanh tìm kiếm */
    padding: 5px;
    height: 24px;
    width: 500px;
    /* Thiết lập chiều cao của ô tìm kiếm */
    border: none;
    /* Ẩn viền của ô tìm kiếm */
    outline: none;
    /* Ẩn viền khi ô tìm kiếm được chọn */
    font-size: 24px;
}


.header-content {
    position: fixed;
    /* Giữ component ở trên cùng */
    margin-top: 0px;
    /* Đặt component ở vị trí trên cùng */
    width: 100%;
    /* Chiều rộng full màn hình */
    height: 150px;
    /* Chiều cao 100px */
    background-color: #f8f9fa;
    /* Màu nền tùy chọn */
    z-index: 1000;
    /* Đảm bảo component nằm trên các thành phần khác */
}


.header-content .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Căn các phần tử về phía bên trái */
}

.header-content .item .logo,
.header-content .item .search-bar {
    margin-right: 20px;
    /* Khoảng cách giữa Logo và SearchBar */
}

.header-content .nav {
    margin-left: auto;
    /* Đẩy NavLinks sang phải */
}