.menu-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 200px;
    position: relative;
    /* Đảm bảo các phần tử con có thể sử dụng position: absolute */
}

.option-products-container {
    position: absolute;
    /* Đặt vị trí tuyệt đối */
    top: 100%;
    /* Đặt ngay dưới button */
    left: 0;
    width: 80vw;
    /* Chiều rộng của OptionProducts */
    margin-top: 3px;
    /* Điều chỉnh khoảng cách với phần tử trên */
    padding: 3px;
    box-sizing: border-box;
    background-color: white;
    /* Đặt màu nền nếu cần */
    border: 1px solid #ddd;
    /* Đặt viền nếu cần */
    z-index: 1000;
    /* Đảm bảo OptionProducts nằm trên các phần tử khác */
}



.custom-table a {
    border-bottom: none;
    text-decoration: none;
    width: 95%;
    /* Chiều rộng của bảng chiếm 95% chiều rộng của phần tử chứa nó. */

    border-collapse: collapse;
    /* Gộp các đường viền của bảng lại với nhau để không có khoảng cách giữa các ô. */
}

.custom-table th,
.custom-table td {
    text-align: left;
    /* Căn chỉnh văn bản bên trong các ô về phía bên trái. */

    padding: 10px;
    /* Khoảng cách bên trong giữa nội dung và viền của ô. */

    border-bottom: 1px solid #ddd;
    /* Đường viền dưới của mỗi ô có màu xám nhạt. */
}

.custom-table th {
    font-size: 18px;
    font-weight: bolder;
    border-bottom: 2px solid black;
    /* Đường viền dưới của các ô tiêu đề có màu đen và dày hơn. */
}


.custom-table td a {
    border-bottom: none;
    text-decoration: none;
    color: #000
        /* Không có đường viền dưới giữa các ô dữ liệu. */
}


.custom-table td a:hover {
    color: #89cff0;
    text-decoration: none;
}

.button {

    box-sizing: border-box;
    /* Bao gồm cả padding và border vào trong chiều rộng và chiều cao tổng thể của phần tử. */
    /* Màu nền ban đầu */
    color: white;
    /* Màu chữ ban đầu */

    /* Kích thước nút */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Hiệu ứng chuyển đổi màu nền */
    width: 150px;
    /* Cố định chiều rộng của nút */
    text-align: center;
    /* Căn giữa văn bản trong nút */
}

.button:hover {
    background-color: #a04545;
    /* Màu nền khi hover */
    /* Đảm bảo không thay đổi padding, margin, border, hoặc các thuộc tính khác */
}