/* styles.css */
.body-container {
    display: flex;
    /* Sử dụng Flexbox để sắp xếp các phần tử con */
    flex-direction: column;
    /* Sắp xếp các phần tử con theo chiều dọc */
    min-height: 100vh;
    /* Chiều cao tối thiểu bằng chiều cao của cửa sổ trình duyệt */
}

.main-content {
    margin-top: 150px;
    flex: 1;
    /* Chiếm không gian còn lại trong container cha */
    display: flex;
    /* Sử dụng Flexbox để sắp xếp các phần tử con */
    flex-direction: column;
    /* Sắp xếp các phần tử con theo chiều dọc */
}