.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

/* Đảm bảo footer nằm dưới cùng và cuộn theo nội dung */
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}