.login-container {
    width: 360px;
    /* Tăng kích thước từ 300px lên 360px */
    margin: 0 auto;
    margin-top: 36px;
    /* Tăng kích thước từ 30px lên 36px */
    padding: 24px;
    /* Tăng kích thước từ 20px lên 24px */
    border: 1px solid #ccc;
    border-radius: 6px;
    /* Tăng kích thước từ 5px lên 6px */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    /* Tăng kích thước từ 10px lên 12px */
    text-align: center;
    font-size: 24px;
    /* Tăng kích thước từ 20px lên 24px */
    background-color: #f8f9fa;
}


.login-container h2 {
    margin-bottom: 24px;
    /* Tăng kích thước từ 20px lên 24px */
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    /* Tăng kích thước từ 15px lên 18px */
    font-size: 30px;
}

.input-group .icon {
    margin-right: 12px;
    /* Tăng kích thước từ 10px lên 12px */
}

.input-group input {
    width: 100%;
    padding: 12px;
    /* Tăng kích thước từ 10px lên 12px */
    border: 1px solid #ccc;
    border-radius: 6px;
    /* Tăng kích thước từ 5px lên 6px */
    font-size: 16px;
}

.forgot-password {
    margin-bottom: 18px;
    /* Tăng kích thước từ 15px lên 18px */
}

.forgot-password a {
    color: #0aabf5;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
    font-size: 19.2px;
    /* Tăng kích thước từ 16px lên 19.2px */
}

button {
    width: 100%;
    padding: 12px;
    /* Tăng kích thước từ 10px lên 12px */
    background-color: #89cff0;
    color: #000;
    border: none;
    border-radius: 6px;
    /* Tăng kích thước từ 5px lên 6px */
    cursor: pointer;
    font-size: 19.2px;
    /* Tăng kích thước từ 16px lên 19.2px */
}

button:hover {
    background-color: #89cff0;
}

.register-link {
    margin-top: 18px;
    /* Tăng kích thước từ 15px lên 18px */
}

.register-link a {
    color: #0aabf5;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}