.admin-search {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #fff;
    border: 1px solid #bbbbbb;
    border-radius: 36px;
    width: 30%;
    padding: 12px;
    gap: 8px;
}

.admin-btn {
    border-radius: 3px;
    min-height: 32px;
    width: 100%;
    outline: 0;
    overflow: hidden;
    padding: 8px 12px;
    text-overflow: ellipsis;
    text-transform: capitalize;
    background-color: #ee4d2d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    gap: 3px;
    align-items: center;
}

.linE {
    border: none;
    border-top: 1px solid rgba(238, 234, 234, 0.65);
    margin: 26px -36px;

}

.user-table table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
}

.user-table th{
    border: 1px solid #ddd;
    padding: 8px;
    color: #353535;
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #818181;
    background-color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.user-table h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin: 0px 0px 26px 0px;
    font-weight: bold;
    color: #525252;
}

